.row{
    display:flex;
    column-gap:40px;
}

.left{
    
    display :50%;
    float: left;
    border: 1px solid gray;
    width: 40%;
}
.image1{
    
    width: 10px;
    height: 15px;

}
 span{ 
    display: block;
    width: 200px;
    height: 300px;
    width: 800px;
    padding:5px;
    border: 1px solid black;
    margin: 20px;
    
}
.space2{
    word-spacing: 50px;
}
span.a{
    width:30px;
    height: 10px;
    padding: 5px;
    border: 1px solid rgb(15, 14, 14);
    text-align: right;
    float: right;
}



    
