
<nav class="navbar">
    <ul class="navbar-links">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
  
  
  <div class="home-container">
    <h1>Welcome to the Home Page</h1>
    <p>This is the main page of the Aqua Project. Here you can explore various features and content.</p>
    <p>Feel free to navigate through the app using the navigation bar above.</p>
  </div>
  